.input {
	display: block;
	padding: 6px 10px;
	color: $color-text;
	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	background-color: $color-light-gray;
	border: 2px solid transparent;
	border-radius: 5px;
	box-sizing: border-box;
	transition: border-color .1s ease-in;
	outline: none;
	resize: vertical;
	&:focus {
		border-color: $color-accent;
	}
}
.input--error {
	border-color: $color-danger;
	&:focus {
		border-color: $color-danger;
	}
}
